* {
    padding: 0;
    box-sizing: border-box;
    font-family: 'gilroy';
}

html,
body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: var(--teriary-color);
}

body {
    cursor: none; /* Hide the default cursor */
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100vh;
}

body {
    cursor: none; /* Hide the default cursor */
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100vh;
}

.cursor-point,
.cursor-circle {
    position: absolute;
    pointer-events: none; /* Prevent cursor from interacting with elements */
    transform: translate(-50%, -50%);
}

.cursor-point {
    width: 8px;
    height: 8px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    z-index: 1000;
    transition: transform 0.2s ease-out;
}

.cursor-circle {
    width: 40px;
    height: 40px;
    border: 2px dashed black;
    border-radius: 50%;
    z-index: 999;
    transition: width 0.2s ease, height 0.2s ease, border-color 0.2s ease;
    
}

.smooth {
    width: 50px;
    height: 50px;
    border-color: rgb(255, 255, 255);
}

.rotating {
    animation: rotate 2s linear infinite;
}

@keyframes rotate {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}


:root {
    --primary-color: #000000;
    --secondary-color: white;
    --teriary-color: rgb(28, 36, 28);
}

.slide{
    width: 100vw;
}

.container {
    position: relative;
    top: 0%;
    left: 0%;
    width: 100;
    height: 100vh;
    background: transparent;
}

.container .slide .item {
    width: 200px;
    height: 300px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    border-radius: 20px;
    background-position: 50% 50%;
    background-size: cover;
    display: inline-block;
    transition: 0.5s;
    /* box-shadow:  2px 2px 10px 2px rgb(96, 96, 96); */
}

.container .item h1 {
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
}

.container .item .des p {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.container .item button {
    font-family: Arial, Helvetica, sans-serif;
}

.slide .item:nth-child(1),
.slide .item:nth-child(2) {
    top: 0;
    left: 0;
    transform: translate(0, 0);
    border-radius: 0;
    width: 100%;
    height: 100%;
}


.slide .item:nth-child(3) {
    left: 50%;
}

.slide .item:nth-child(4) {
    left: calc(50% + 220px);
}

.slide .item:nth-child(5) {
    left: calc(50% + 440px);
}

/* here n = 0, 1, 2, 3,... */
.slide .item:nth-child(n + 6) {
    left: calc(50% + 660px);
    opacity: 0;
}



.item .content {
    position: absolute;
    top: 50%;
    left: 100px;
    width: 300px;
    text-align: left;
    color: #eee;
    transform: translate(0, -50%);
    font-family: system-ui;
    display: none;
}


.slide .item:nth-child(2) .content {
    display: block;
}


.content .name {
    font-size: 40px;
    text-transform: uppercase;
    font-weight: bold;
    opacity: 0;
    animation: animate 1s ease-in-out 1 forwards;
}

.content .des {
    margin-top: 10px;
    margin-bottom: 20px;
    opacity: 0;
    animation: animate 1s ease-in-out 0.3s 1 forwards;
}

.content button {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    opacity: 0;
    animation: animate 1s ease-in-out 0.6s 1 forwards;
}


@keyframes animate {
    from {
        opacity: 0;
        transform: translate(0, 100px);
        filter: blur(33px);
    }

    to {
        opacity: 1;
        transform: translate(0);
        filter: blur(0);
    }
}



.button {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 20px;
}

#page1 {
    height: 50vh;
    width: 100vw;
    background-color: goldenrod;
    display: flex;
    justify-content: space-between;

}

#hid{
    letter-spacing: 1px;
}

#cir {
    height: 100%;
    width: 40%;
    background-color: white;
    border-radius: 0% 90% 0 0px;
}
#collect{
    background-color: var(--teriary-color);
}

#con {
    height: 100%;
    width: 50%;
    /* background-color:rgb(231, 88, 112) ; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-transform: capitalize;
}

#con h1 {
    font-size: 50px;
    color: var(--secondary-color);
font-family: Arial, Helvetica, sans-serif;
}

#con p {
    font-size: 20px;
    color: var(--secondary-color);
    font-family: Arial, Helvetica, sans-serif;
}

#page2 {
    height: 100vh;
    width: 100%;
    /* background-color: ; */
    flex-direction: column;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-around;
}

#card1,
#card2,
#card3 {
    height: 400px;
    width: 350px;
    border-radius: 25px;
    position: absolute;
    overflow: hidden;
}

#page2co {
    height: 60%;
    width: 100%;
    /* background-color: rgba(137, 43, 226, 0.548); */
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0%;
}

#page2 #pagp,
#page2 h2 {
    color: var(--secondary-color);
    margin-top: 50px;
    font-style: italic;

}

#page2 h2 {
    color: var(--secondary-color);
    margin-top: 50px;
    font-style: italic;
    font-size: 20px;
    font-weight: 100;
}

#page2>h1 {
    margin-bottom: 400px;
    color: var(--secondary-color);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    letter-spacing: 12px;
}
#page2>h3 {
    margin-bottom: 400px;
    color: var(--secondary-color);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    text-transform: capitalize;
    font-size: 2.5vw;
    line-height: 2.5vw;
    padding: 1vw 2vw;
}

#card1 {
    background-color: var(--secondary-color);
    left: 20%;
    transform: rotate(-7deg);
}

#card2 {
    background-color: var(--secondary-color);
    top: -6%;

}

#card3 {
    background-color: var(--secondary-color);

    left: 59%;
    transform: rotate(7deg);
}

#car11 {
    height: 50%;
    width: 100%;
}

#car11 img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

#car12 {
    height: 50%;
    width: 100%;
    /* background-color: rgb(135, 196, 222); */
    flex-direction: column;
    display: flex;
    padding: 10px;
    justify-content: space-around;
    text-transform: capitalize;
}

#car12 p {
    color: var(--primary-color);
    font-family: Arial, Helvetica, sans-serif;
}

#car12 h1 {

    font-family: Arial, Helvetica, sans-serif;
    color: var(--primary-color);

}

#car12 button {
    height: 50px;
    width: 100px;
    border-radius: 50px;
    border: none;
    background-color: #000000;
    color: white;
    text-transform: capitalize;
    font-family: Arial, Helvetica, sans-serif;
}

#page3 {
    height: 100vh;
    width: 100vw;
    /* background-color: rgb(184, 135, 11); */
    position: relative;
}

#page3inside {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.315);
    position: absolute;
    left: 0%;
    top: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#divh1 h1 {
    font-size: 180px;
    letter-spacing: 5px;
    text-transform: capitalize;
    font-family: Arial, Helvetica, sans-serif;
    color: #FFD700;
}

#divp p {
    font-size: 2vw;
    padding: 1vw 15vw;
    letter-spacing: 1px;
    text-transform: capitalize;
    font-family: Arial, Helvetica, sans-serif;
    color: #FFD700;
}

#divh1 {
    width: 100%;
    height: 200px;
    /* background-color: #b03a3a; */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

#divp {
    width: 100%;
    /* height: 0px; */
    /* background-color: #3ab048; */
    display: flex;
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

#page3 video {
    height: 100%;
    width: 100%;
    border-radius: 50px;
}

#page3 img {
    height: 100vh;
    width: 100vw;
}

#page4 {
    height: 100vh;
    width: 100vw;
    background-color: var(--teriary-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

#page5 {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--teriary-color);

}

#page41 {
    height: 70%;
    width: 45%;
    /* background-color: rgb(194, 165, 46); */
    border-radius: 20px;
    overflow: hidden;
}

.image-container {
    position: relative;
    height: 70%;
    width: 45%;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.image-container:hover {
    transform: scale(1.05);
}

.image-container:hover img {
    transform: scale(1.2);
}

#page41 img {
    height: 100%;
    width: 100%;
}
#page41 img:hover{
    height: 100%;
    width: 100%;
    scale: 1.1;
    transition: all ease 0.5s;
}

#page42 {
    height: 70%;
    width: 35%;
    /* background-color: rgb(46, 194, 46); */
    flex-direction: column;
    display: flex;
    align-items: center;

}

#page42 h1 {
    font-size: 60px;
    text-transform: capitalize;
    margin-right: 150px;
    padding-bottom: 50px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

#page42 p {
    font-size: 20px;
    text-transform: capitalize;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

#page52 {
    height: 70%;
    width: 45%;
    border-radius: 20px;
    overflow: hidden;
}

#page52 img {
    height: 100%;
    width: 100%;
}

#page51 {
    height: 70%;
    width: 35%;
    /* background-color: rgb(46, 194, 46); */
    flex-direction: column;
    display: flex;
    align-items: center;

}

#page51 h1 {
    font-size: 60px;
    text-transform: capitalize;
    margin-right: 150px;
    padding-bottom: 50px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

#page51 p {
    font-size: 20px;
    text-transform: capitalize;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

#page6 {
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}
.key{
    overflow: hidden;
    position: relative;

}
.key>img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}


#page61 {
    height: 40%;
    width: 100%;
    /* background-color: blue; */
    flex-direction: column;
    padding-left: 90px;
}

#page62 {
    height: 50%;
    width: 90%;
    /* background-color: rgb(59, 59, 121); */
    align-items: center;
    display: flex;
}

#page61 :nth-child(1) {
    font-size: 15px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

#page61 :nth-child(2) {
    font-size: 70px;
    text-transform: capitalize;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

#page61 :nth-child(3) {
    font-size: 20px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

#page62 {
    display: flex;
    justify-content: space-between;
}

#page62 div {
    height: 90%;
    width: 18%;
    background-color: burlywood;
    border-radius: 20px;

}

#nav {
    height: 70px;
    width: 100vw;
    background-color: #00000081;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    display: flex;
    position: absolute;
    z-index: 999;
}

#nav1 {
    display: flex;
    width: 20%;
    align-items: center;
    justify-content: center;
    /* background-color: cadetblue; */
}

#nav2 p {
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    cursor: pointer;
}

#nav2 {
    display: flex;
    /* width: 30%; */
    gap: 40px;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;

}


#nav1 img {
    height: 50px;
    width: 150px;
}

#nav2 i {
    font-size: 20px;
    color: white;
    cursor: pointer;
}

#page7 {
    height: 100vh;
    width: 100vw;
    /* background-color: darkkhaki; */
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#page8 {
    height: 100vh;
    width: 100vw;
    /* background-color: rgb(189, 107, 182); */
    flex-direction: column;
    display: flex;
    justify-content: center;
    padding-left: 180px;
}

#page9 {
    height: 60vh;
    width: 100vw;
    /* background-color: rgb(189, 132, 107); */
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-block: 2.4vw;
}
.b1{
    overflow: hidden;
}
.b1{
    width: 100%;
    height: 100%;
    /* object-fit:cover; */
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
}

#page71 {
    height: 80%;
    width: 80%;
    display: flex;
}

#box711 {
    height: 100%;
    width: 50%;
    /* background-color: azure; */
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
}

#box712 {
    height: 100%;
    width: 50%;
    /* background-color: rgb(192, 106, 246); */
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#page7 > h1{
    font-size: 60px;
    text-transform: capitalize;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

#b1 {
    height: 45%;
    width: 90%;
    background-color: cadetblue;
}

#b2 {
    height: 45%;
    width: 90%;
    background-color: cadetblue;
}

#c1 {
    height: 45%;
    width: 90%;
    background-color: cadetblue;
}

#c2 {
    height: 45%;
    width: 90%;
    background-color: cadetblue;
}

#page81 {
    height: 85%;
    width: 90%;
    /* background-color: cornflowerblue; */
    flex-direction: column;
    display: flex;
    justify-content: space-around;
    position: relative;
}

#page8>h1 {
    font-size: 50px;
    text-transform: capitalize;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
#page8 p{
    font-size: 20px;
    text-transform: capitalize;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

#page81 div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid goldenrod;
}

#footer {
    height: 70vh;
    width: 100vw;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #eee;
}
#footer h1 ,#footer p{
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}
#page9 h1 ,#page9 p{
    font-family: Arial, Helvetica, sans-serif;
}
#footer1 {
    display: flex;
    gap: 40px;
}

#footer1 i {
    font-size: 30px;
    cursor: pointer;
}

#page92 {
    height: 80%;
    width: 70%;
    /* background-color: chartreuse; */
    display: flex;
    align-items: center;
    justify-content: space-between;

}
#page92 div {
    height: 200px;
    width: 200px;
    background-color: cornsilk;
    border-radius: 50%;
    transition: all ease 0.5s;
}
#page92 div:hover {
    height: 250px;
    width: 250px;
    background-color: cornsilk;
    border-radius: 50%;
}

::selection{
    background-color: #FFD700;
    color: #000;
}

#footer2 {
    height: 40%;
    width: 80%;
    /* background-color: darksalmon; */
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.heading{
    color:var(--secondary-color);
    font-size:3vw;
}
.para{
    font-size: 1vw;
    width: 50%;
    text-align: center;
    color: var(--secondary-color);
}

.video{
    width: 100%;
    height: 100%;
    background-position:center;
    background-size:cover;
    scale: 1.8;
    
}
.video-container{
    overflow: hidden;
    height: 100%;
    width: 100%;
}
.overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.382);
    
}
#circle8{
    height: 400px;
    width: 400px;
    border-radius: 50%;
    /* background-color: rgb(255, 246, 80); */
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
   background-image: url(https://plus.unsplash.com/premium_photo-1680341046134-a72555778667?q=80&w=1935&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
   background-position: center;
   background-size: cover;
   box-shadow: inset 0 5px 20px rgba(0, 0, 0, 0.5), 0 5px 15px rgba(0, 0, 0, 0.7);
}
#circle8 h1{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}